
<h2>Выпуск нарядов в производстве</h2>
<div class="row pt-3">
                    
  <div class="col-lg-12 col-12 vertical-tabs">
      <div class="row pl-3 pr-3">
          <ul class="nav flex-column left col-2">
            <li class="nav-item">
                <a class="nav-link" [ngClass]="{disabled: settingsDisabled, active: settingsActive}" href="#la" data-toggle="tab"><h3>Установки</h3></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [ngClass]="{disabled: taskDisabled, active: taskActive}" href="#lb" data-toggle="tab"><h3>Выбор работы</h3></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [ngClass]="{disabled: dashDisabled, active: dashActive}" href="#lс" data-toggle="tab"><h3>Контрольная панель</h3></a>
            </li>
          </ul>
          <div class="tab-content col-10">
              <div class="tab-pane" [ngClass]="{active: settingsActive}" id="la">
                  <div class="col-xl-12 mb-4">
                      <div class="card border-0 box-shadow">
                          <div class="card-header transparent border-0 text-muted">
                              <h5 class="mb-0">Цех и РЦ</h5>
                          </div>
                          <div class="card-block pt-0 widget-body">
                              <div class="form-group">
                                  <label for="exampleSelect1">Выберите участок...</label>
                                  <select class="form-control fa-select" id="exampleSelect1">
                                      <option>Участок газетного производства</option>
                                      <option>Участок листового производства</option>
                                      <option>Переплетный участок</option>
                                      <option>Участок подготовки форм</option>
                                  </select>
                              </div>
                              <div class="form-group">
                                  <label for="exampleSelect1">Выбор РЦ</label>
                                  <select class="form-control fa-select" [(ngModel)]="selectedMC" (change)="onMCChanged()">
                                    <option value="">-- Выберите РЦ --</option>
                                    <option *ngFor="let mc of mcs" [value]="mc.id">{{mc.name}}</option>
                                  </select>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-xl-12 mb-4">
                      <div class="card border-0 box-shadow">
                          <div class="card-header transparent border-0 text-muted">
                              <h5 class="mb-0">Бригада</h5>
                          </div>
                          <div class="card-block pt-0 widget-body">
                              <div class="mb-4">   
                                  <ss-multiselect-dropdown
                                    [options]="secondControlOptions"
                                    [texts]="secondControlTexts"
                                    [settings]="secondControlSettings"
                                    [(ngModel)]="secondControlModel"
                                    (ngModelChange)="onChange($event)">
                                  </ss-multiselect-dropdown>
                              </div>
                          </div>
                      </div>
                  </div>
                <button type="button"
                    [disabled]="!selectedMC"
                    (click)="saveSettings()"
                    class="btn btn-primary btn-lg btn-block">ПРИМЕНИТЬ
                </button>
              </div>                  
              <div class="tab-pane" [ngClass]="{active: taskActive}" id="lb">
                <ngx-datatable
                  #table
                  class="material"
                  [headerHeight]="40"
                  [columns]="columns"
                  [footerHeight]="0"
                  [rowHeight]="'auto'"
                  [rows]="rows"
                  [selected]="selected"
                  [selectionType]="'single'"
                  (select)='onSelect($event)'>
                </ngx-datatable>
                <button type="button"
                    [disabled]="!selected[0].planQty > 0"
                    (click)="startWork()"
                    class="btn btn-primary btn-lg btn-block">НАЧАТЬ РАБОТУ
                </button>
              </div>
              <div class="tab-pane" [ngClass]="{active: dashActive}" id="lс">
                <div class="text-center">прогресс выполнения ... 18%</div>
                <div class="progress mb-3">
                  <div class="progress-bar progress-xl progress-bar-striped progress-bar-animated bg-primary" role="progressbar" [style.width]="'18%'" aria-valuenow="18" aria-valuemin="0" aria-valuemax="100">

                  </div>
                </div>
                <div class="col-xl-12 mb-4">
                    <div class="card border-0 box-shadow">
                        <div class="card-header transparent border-0 text-muted">
                            <h5 class="mb-0">Детали</h5>
                        </div>
                        <div class="card-block pt-0 ml-3 widget-body">
                            <ul>
                                <li>
                                  Обьект выпуска: <b>{{selected[0].pf}}</b>
                                </li>
                                <li>
                                  {{selected[0].kp}}
                                </li>
                                <li>
                                    Время начала план: <b>{{selected[0].dateStart}}</b>
                                </li>
                                <li>
                                    Время окончю план: <b>{{selected[0].dateEnd}}</b>
                                </li>
                                <li>
                                    Тираж план: <b>{{selected[0].planQty}}</b>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div *ngIf="isWorkInProgress && !isShowCreateTicket" class="col-xl-12 mb-4">
                    <div class="card border-0 box-shadow">
                        <div class="card-header transparent border-0 text-muted">
                            <h5 class="mb-0">Ввод фактических данных</h5>
                        </div>
                        <div class="card-block pt-0 ml-3 widget-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                    <label for="inputFirstName">Кол-во выпуска</label>
                                    <input type="number"
                                        class="form-control"
                                        id="inputFirstName"
                                        [(ngModel)]="inputQty"
                                        (ngModelChange)="onQtyChange()">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                    <label for="inputLastName">Кол-во тех.ед.</label>
                                    <input type="number"
                                        class="form-control"
                                        [(ngModel)]="inputQtyTN"
                                        id="inputLastName">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" *ngIf="isWorkInProgress && !isShowCreateTicket" (click)="createRepairTicket()"
                    class="btn btn-danger btn-sm btn-block">ВЫЗВАТЬ РЕМОНТНУЮ СЛУЖБУ
                </button>
                <div *ngIf="isShowCreateTicket" class="col-xl-12 mb-4">
                    <div class="card border-0 box-shadow">
                        <div class="card-header transparent border-0 text-muted">
                            <h5 class="mb-0">Данные для вызова ремонтной службы</h5>
                        </div>
                        <div class="card-block pt-0 ml-3 widget-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                    <label for="inputFirstName">Описание поломки/неисправности</label>
                                    <input type="text"
                                        class="form-control"
                                        id="inputDescr"
                                        [(ngModel)]="customDescr">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <button type="button" (click)="cancelCreateTicket()"
                                        class="btn btn-warning btn-sm btn-block">ОТМЕНА
                                    </button>
                                </div>
                                <div class="col-sm-8">
                                    <button type="button" [disabled]="customDescr.length === 0" (click)="createTicket()"
                                        class="btn btn-success btn-sm btn-block">ПОДТВЕРДИТЬ ВЫЗОВ
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" *ngIf="!isWorkInProgress"
                    class="btn btn-info btn-sm btn-block">РЕМОНТНАЯ СЛУЖБА ВЫЗВАНА, ОЖИДАЙТЕ...
                </button>
                <button type="button" *ngIf="!isWorkInProgress" (click)="continueWork()"
                    class="btn btn-warning btn-lg btn-block">ПРОДОЛЖИТЬ РАБОТУ
                </button>
                <button type="button"
                    *ngIf="(inputQty > 0 || inputQtyTN > 0) && isWorkInProgress && !isShowCreateTicket"
                    (click)="endWork()"
                    class="btn btn-primary btn-lg btn-block">ЗАВЕРШИТЬ РАБОТУ
                </button>
              </div>
          </div>
      </div>                      
  </div>

</div>


<!-- <div class="input-group mb-2">
    <span class="input-group-addon"><i class="fa fa-search"></i></span>
    <input class="form-control" type="text" placeholder="Введите текст для поиска..." (keyup)="updateFilter($event)"/>
</div> -->

   