
<h2>Список вызовов РМЦ</h2>
<div class="row pt-3">
    <ngx-datatable
    #table
    class="material"
    [headerHeight]="40"
    [columns]="columns"
    [footerHeight]="0"
    [rowHeight]="'auto'"
    [rows]="rows"
    [selected]="selected"
    [selectionType]="'single'"
    (select)='onSelect($event)'>
  </ngx-datatable>
</div>
